{% extends 'base.html' %}


{% block content %}

<table>
    <tr>
        <th>ID</th>
        <th>Species</th>
        <th>Name</th>
        <th>Age</th>
        <th>Color</th>
        <th>Price</th>
    </tr>

    {% for anm in animals %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ anm.species }}</td>
        <td>{{ anm.name }}</td>
        <td>{{ anm.age }}</td>
        <td>{{ anm.color }}</td>
        <td>{{ anm.price }}</td>
    </tr>
    {% endfor %}
</table>

<form action="" method="POST">{% csrf_token %}
    {{ form.as_p }}

    <button>Qo'shish</button>
</form>

{% endblock content %}